@page
@model Books.IndexModel
@{
    ViewData["Title"] = "List of Books";
    var books = Model.Books;
    var prev = books.HasPreviousPage ? "" : "disable";
    var next = books.HasNextPage ? "" : "disable";
}

<form asp-page="./Index" method="get">
    <a asp-page="Create">Add a book</a>
    <input type="text" name="search" id="search" value="@Model.Filter" class="leftShift w6">
    <input type="submit" value="Search Title" class="button greenBk w6">
</form><br>
<table class="table">
    <thead>
        <tr>
            <th><a asp-page="./Index"  asp-route-filter="@Model.Filter" asp-route-sort="@Model.IdSort">Id</a></th>
            <th><a asp-page="./Index"  asp-route-filter="@Model.Filter" asp-route-sort="@Model.TitleSort">Title</a></th>
            <th><a asp-page="./Index" asp-route-filter="@Model.Filter" asp-route-sort="@Model.AuthorSort">Author</a></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in books)
        {
            <tr>
                <td class="center">@x.Id</td>
                <td>@x.Title</td>
                <td>@x.Author.FullName()</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@x.Id">Edit</a>
                    <a asp-page="./Details" asp-route-id="@x.Id">Details</a>
                    <a asp-page="./Delete" asp-route-id="@x.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table><br><br>
<a asp-page="./Index" asp-route-pageID="@(books.PageID - 1)" class="button @prev">Previous</a>
<a asp-page="./Index" asp-route-pageID="@(books.PageID + 1)" class="button @next">Next</a>
